@import url('header.css');

body{
    margin: 0;
}

.container{
    /* cố định chiều rộng */
    width: 1140px;
    /* canh đều 2 bên */
    margin: auto;
}

.row{
    /* chia cột */
    display: flex;
}